/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body{
	margin: 0 auto;
}

.header1 nav{
	display: flex;
	justify-content: space-evenly;
	/*border: 2px red solid;*/
	margin-top: 1%;
}
.links{
    display: flex;
    width: 75%;
	justify-content: space-evenly;

}

.links a{
	text-decoration: none;
	color:grey;
	padding-top: 9px;
}

.header2{/*code for where "innovation..." and image are; in a header*/
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
	/*border: 2px red solid;*/
	width: 65%;
	margin-left: 15%;
	margin-bottom: 50px;
}

.header2 h1{/*used to center "innovation on demand*/
	font-size: 5em;
	text-align: center;
	margin-top: 50px;
}

.header2 .aHrefButton{/*styles "get started" button */
	border: 1.5px black solid;
	text-decoration: none;
	padding: 3px 30px 3px 30px;
	text-align: center;
}

.header2 div{/**/
	/*border: red 2px solid;*/
	text-align: center;
}

hr{
	width: 60%;
}

.section1{/*introduce flex to section*/
	/*border: 2px red solid;*/
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	width: 49%;
	margin-left: 23%;
}
.divContainer1{
	display: flex;
	margin-bottom: 15px;
}
.middle-img{
	width: 100%;
}
.divContainer2{
	display: flex;
	margin-top: 15px;
}


.container{
	border: 2px red solid;
}




address{
	margin-left: 20%;
}

.Copyright{
	text-align: center;
}

/*beginning of services.html css*/
.servicesHeader1{
	margin-top: 25px;
	padding: 10px;
	/*border: 5px black solid;*/
	width: 65%;
	margin-left: 15%;
	display: flex;
	flex-direction: column;
	border-bottom: 2px black solid;
	padding-bottom: 35px;
	
}

.servicesHeader1 nav div{
	/*border: 2px purple solid;*/
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;

}
.servicesHeader1 .services-header-img{
	/*border: 2px red solid;*/
	margin-bottom: 15px;
}

.mainContentContainer{
	margin-top: 5px;
	margin-bottom: 5px;
	/*border: 5px black solid;*/
	width: 65%;
	margin-left: 15%;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
	/*border-bottom: 5px black solid;*/
}

.mainContentContainer div{	
	border: 1px solid black;
	margin: 15px;
	padding: 20px;
	background: #D3D3D3;
	width: 45%;
}

.mainContentContainer div a{	
	text-decoration: none; 
	padding: 5px 20px 5px 20px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 10px;
}

.mainContentContainer div p{
	margin-bottom: 20px;
}

.lastSectionContainer{
	width: 65%;
	display: flex;
	margin-left: 15%;
	padding-bottom: 50px;
	border-top: 2px black solid;
	margin-top: 10px;
	padding-top: 30px;
}

.lastSectionContainer div ul{
	margin-top: 15px;
	list-style-type: square;
	margin-left: 15px;
	line-height: 2;
}

.lastSectionContainer div p{
	margin-right: 50px;
}

.Copyright{
	text-align: center;
}

/*mobile media queries*/
@media(max-width: 500px) {
    .header1{
        display: flex;
        justify-content: center;
    }
    .header1 nav{
        display: flex;
        flex-direction: column-reverse;
    }
    .header1 nav div{
        display: flex;
        justify-content: center;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
    .links a{
        text-align: center;
        border-bottom: black 1px solid;
    }
    .header-img{
        display: none;
    }
    .section1{
        display: flex;
        flex-direction: column;
    }
}

/*tablet media queries*/
@media(max-width: 800px) {
	.header1{
        display: flex;
		justify-content: center;
    }
	.header1  nav{
		display: flex;
        flex-direction: column-reverse;
		width: 100%;
	}
	.header1 div{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	div .links{
		display: flex;
		justify-content: space-evenly;
	}
    .header-img{
        display: none;
    }
        
}

